<div>
  <p id="project_tags"><%= text_field_tag 'tag_search', params[:tag_search] -%>
    <br />
    <em class="info"><%= l(:text_tags_info).html_safe %></em>
  </p>
  <div id="project_tag_candidates" class="autocomplete"></div>
  <%= stylesheet_link_tag 'jquery.tagit.css', :plugin => 'redmine_tags' %>
  <%= stylesheet_link_tag 'redmine_tags', :plugin => 'redmine_tags' %>
  <%= javascript_include_tag 'tag-it', :plugin => 'redmine_tags' %>

  <%= javascript_tag "$('#tag_search').tagit({
            tagSource: function(search, showChoices) {
            var that = this;
            $.ajax({
              url: '#{url_for(:controller => 'auto_completes', :action => 'project_tags')}',
              data: {q: search.term},
              success: function(choices) {
              showChoices(that._subtractArray(jQuery.parseJSON(choices), that.assignedTags()));
            }
          });
        },
    });
" %>

</div>






