<%= labelled_fields_for :project, project do |f| -%>
<div>
  <p id="project_tags"><%= f.text_field :tag_list, :label => :tags, :size => 60, :class => 'hol' %>
    <br />
    <em><%= l(:text_tags_info) %></em>
  </p>
  <div id="project_tag_candidates" class="autocomplete"></div>
  <%= javascript_include_tag 'tags_input', :plugin => 'redmine_tags' %>
  <%= javascript_tag "observeProjectTagsField('#{url_for(:controller => 'auto_completes', :action => 'project_tags')}', false)" %>
</div>
<% end -%>
