
<%= javascript_include_tag 'repository' %>

<% if @repository %>

<%= form_for @repository,
       :as => :repository,
       :remote => true,
       :url => { :controller => 'repositories', :action => 'update', :id => @repository },
       :method => 'put' do |f| %>

<%= error_messages_for 'repository' %>

<div class="box tabular">

<p>
   <%= l(:text_settings_repo_explanation).html_safe %></ br>
   <% if @repository.is_external %>
     <p><%= l(:text_settings_repo_is_external).html_safe %></ br>
   <% else %>
     <p><%= l(:text_settings_repo_is_internal).html_safe %></ br>
   <% end %>
</p>


<p>
	<%= label_tag('repository_is_external', l(:label_is_external_repository)) %>
	<%= check_box :repository, :is_external, :onclick => "toggle_ext_url()" %> 
	<br/><em><%= l(:setting_external_repository).html_safe %></em>
</p>

<p>
	<%= label_tag('repository_external_url', l(:label_repository_external_url)) %>
	<%= text_field :repository, :external_url, :disabled => !(@repository and @repository.is_external) %> 
	<br/><em><%= l(:setting_external_repository_url).html_safe %></em>
</p>

<p><%= l(:text_settings_repo_need_help).html_safe %></p>

</div>

<div class="contextual">
<% if @repository && !@repository.new_record? %>
<%= link_to(l(:label_user_plural),
                {
                :controller => 'repositories',
                :action     => 'committers',
                :id         => @repository
                },
             :class => 'icon icon-user') %>
<% end %>
</div>

<%= submit_tag(l(:button_save)) %>

<% end %>

<% else %>
   <%= l(:text_settings_repo_creation).html_safe %></ br>
<% end %>

