
<h2><%= l(:label_explore_projects) %></h2>

  <div class="tags box">
  <h3><%=l(:label_project_tags_all)%></h3>
    <%= render :partial => 'projects/tagcloud' %>
  </div>
<div class="splitcontentleft">
  <div class="institutions box">
  <h3><%=l(:label_institutions_busy)%></h3>
    <%= render :partial => 'activities/busy_institution' %>
  </div>
  <div class="projects box">
  <h3><%=l(:label_project_latest)%></h3>
    <%= render :partial => 'projects/latest' %>
  </div>
</div>
<div class="splitcontentright">
  <div class="projects box">
  <h3><%=l(:label_projects_busy)%></h3>
    <%= render :partial => 'activities/busy' %>
  </div>
</div>
