<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redmine_tags', :plugin => 'redmine_tags' %>
<% end %>

<div class="contextual">
    <%= link_to l(:label_project_all), { :controller => 'projects', :action => 'index' }%>
    <%= ('| ' + link_to(l(:label_search_projects), { :controller => 'search', :action => 'index', :projects => 1 })).html_safe %>
    <%= ('| ' + link_to(l(:label_project_new), {:controller => 'projects', :action => 'new'}, :class => 'icon icon-add')).html_safe if User.current.allowed_to?(:add_project, nil, :global => true) %>
</div>

<h2><%= l(:label_explore_projects) %></h2>

<div class="threecolumnleft">
  <div class="tags box">
  <h3><%=l(:label_project_tags_all)%></h3>
    <% cache(:action => 'explore', :action_suffix => 'tags') do %>
    <%= render :partial => 'projects/tagcloud' %>
    <% end %>
  </div>
</div>

<div class="threecolumnright">
  <div class="projects box">
  <h3><%=l(:label_project_latest)%></h3>
    <%= render :partial => 'projects/latest' %>
    <%= link_to l(:label_projects_more), { :controller => 'projects' }, :class => 'more' %>
  </div>
</div>

<div class="threecolumnleft">
  <div class="institutions box">
  <h3><%=l(:label_institutions_busy)%></h3>
  <% cache(:action => 'explore', :action_suffix => 'busy_institutions') do %>
    <%= render :partial => 'activities/busy_institution' %>
  <% end %>
  <%= link_to l(:label_overall_activity), { :controller => 'activities', :action => 'index' }, :class => 'more' %>
  </div>
</div>

<div class="threecolumnright">
  <div class="projects box">
  <h3><%=l(:label_projects_busy)%></h3>
    <% cache(:action => 'explore', :action_suffix => 'busy_projects') do %>
    <%= render :partial => 'activities/busy' %>
    <% end %>
    <%= link_to l(:label_overall_activity), { :controller => 'activities', :action => 'index' }, :class => 'more' %>
  </div>
</div>

<div class="threecolumnmid">
  <div class="projects box">
  <h3><%=l(:label_projects_mature)%></h3>
    <% cache(:action => 'explore', :action_suffix => 'mature_projects') do %>
    <%= render :partial => 'projects/mature' %>
    <% end %>
    <%= link_to l(:label_projects_more), { :controller => 'projects' }, :class => 'more' %>
  </div>
</div>

<% html_title(l(:label_explore_projects)) -%>
