<p>
  <label for="bibtex_entry_type"><%=l("field_entry_type")%> <span class="required">*</span></label>
	<%= f.collection_select :entry_type, 
	        BibtexEntryType.find(:all).reject { |x| x.redundant? }, 
	        :id, 
	        :label,  
	        { :selected => @selected_bibtex_entry_type_id, :prompt => true },	           
	        :onChange => remote_function( :url => { :controller => :publications, :action => :get_bibtex_required_fields}, :with => "'value=' + value" )	              
	%>
</p>

<p class="bibtex hol"> 
  <%= f.text_field :year, :size => 4 %> 
</p>
<p class="bibtex hol"> 
  <%= f.text_field :month, :size => 4%> 
</p>
<p class="bibtex hol">  
  <%= f.text_field :chapter, :size => 15%>  
</p>  
<p class="bibtex hol"> 
  <%= f.text_field :editor, :size => 33  %>  
</p>  
<p class="bibtex hol"> 
  <%= f.text_field :booktitle, :size => 33  %>  
</p>  
<p class="bibtex hol"> 
  <%= f.text_field :publisher,:size => 33  %>  
</p>  
<p class="bibtex hol"> 
  <%= f.text_field :pages, :size => 12 %>  
</p>
<p class="bibtex hol"> 
 <%= f.text_field :address %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :annote %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :crossref %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :edition %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :eprint %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :howpublished %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :journal %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :key %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :note %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :number %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :organization %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :school %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :series %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :type %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :url %>
</p>
<p class="bibtex hol"> 
 <%= f.text_field :volume %>
</p>