<%= error_messages_for 'publication' %>
    <%= javascript_tag "
        $('#publication_bibtex_entry_attributes_entry_type').live('change', function() {
            $this = $(this);

            $.ajax({
                type: 'get',
                url: '#{url_for(:controller => :publications, :action => :show_bibtex_fields)}',
                data: {
                    value: $this.val()
                },
                dataType: 'script'
            });

            return false;
        });"
    -%>

<h3><%= f.text_field :title, :required => true, :size => 70 %></h3>

<div class="splitcontentleft">
  <h3><%= l(:label_publication_other_details) %></h3>
  <div class="box tabular">
    <%= f.fields_for :bibtex_entry do |builder| -%>
      <%= render :partial => 'bibtex_fields', :locals => { :f => builder}  %>
    <%- end -%>

    <p>
      <%= f.text_field :external_url, :size => 70 %>
      <br />
      <em><%= l(:text_external_url) %></em>
    </p>
    <p>
      <%= f.text_field :doi, :size => 70 %>
      <br />
      <em><%= l(:text_doi) %></em>
    </p>

  </div>
</div>

<div class="splitcontentright">
  <h3><%= l(:authors) %></h3>
  <div class="box tabular">
    <%= f.fields_for :authorships do |builder| -%>
      <%= render "authorship_fields", :f => builder %>
    <%- end -%>
    <%= link_to_add_author_fields l(:label_add_an_author), f, :authorships, params[:action] %>
  </div>
</div>


