<% content_for :header_tags do %>
    <%= javascript_include_tag 'authors', :plugin => 'redmine_bibliography' %>
    <%= stylesheet_link_tag 'bibliography', :plugin => 'redmine_bibliography' %>
<% end %>

<h2><%=l(:label_publication_new)%></h2>

<%= labelled_form_for @publication, :url => { :project_id  => @project, :action => :create } do |f| -%>
    <%= render :partial => 'form', :locals => { :f => f }  %>
    <div style="clear:both"></div>
    <%= f.submit %>
<% end %>
