<%= javascript_include_tag "ssamr_institutions" %>
<%= javascript_include_tag "ssamr_registration" %>

<h2><%=l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>

<%= labelled_form_for @user, :url => register_path do |f| %>
<%= error_messages_for 'user' %>

<div class="box tabular">
<% if @user.auth_source_id.nil? %>
  <p><%= f.text_field :login, :size => 25, :required => true %></p>

  <p><%= f.password_field :password, :size => 25, :required => true %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

  <p><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>
<% end %>

<p><%= f.text_field :firstname, :required => true %></p>
<p><%= f.text_field :lastname, :required => true %></p>
<p><%= f.text_field :mail, :required => true %></p>

<!-- We only support English in this site 
<p><%= f.select :language, lang_options_for_select %></p>
-->

<h3><%=l(:label_ssamr_details)%></h3>
	
		<% fields_for :ssamr_user_details, :builder => TabularFormBuilder, :lang => current_language do |ssamr_user_detail| %>	
			<p>
                          <%= ssamr_user_detail.text_area :description, :rows => 3, :cols => 40, :required => true, :class => 'wiki-edit' %>                          
                          <em> <%=l(:text_user_ssamr_description_info)%></em>
                        </p>

                        <p><label for="institution"><%=l("field_ssamr_user_detail.institution")%> <span class="required">*</span></label>
							<%= ssamr_user_detail.radio_button :institution_type, true %>
                          	<%= ssamr_user_detail.collection_select(:institution_id, Institution.find(:all, :order => "institutions.order"), :id, :name,  {:selected => @selected_institution_id, :prompt => true}).gsub('&amp;', '&')  %>
						</p>

                        <p>
                          <%= ssamr_user_detail.radio_button :institution_type, false %> Other:
                          <%= ssamr_user_detail.text_field(:other_institution) %>
                        </p>
                <% end %>
          
<% if Setting.openid? %>
  <p><%= f.text_field :identity_url  %></p>
<% end %>

<% @user.custom_field_values.select {|v| v.editable? || v.required?}.each do |value| %>
  <p><%= custom_field_tag_with_label :user, value %></p>
<% end %>
</div>

<%= check_box :user, :terms_and_conditions %> <%= l(:accept_terms_and_conditions) %> <%= link_to("Terms and Conditions", "https://code.soundsoftware.ac.uk/projects/soundsoftware-site/wiki/TandCs", {:target => "_blank"}) %>.
<br />
<br />

<%= submit_tag l(:button_submit) %>
<% end %>
