<% events = @events_by_day %>
<% if (events.nil?) 
     activity = Redmine::Activity::Fetcher.new(User.current)
     events = activity.events(Date.today - 14, Date.today + 1)
   end
%>

<% if events.empty? %>

<% else %>

   <ul>

   <% 
      for project in busy_projects(events, 5)
   %>

   <li class="busy">
     <span class="title">
       <% if !project.root? %>
         <% project.ancestors.each do |p| %>
           <%= h(p) %>&nbsp;&#187;
         <% end %>
       <% end %>
       <%= link_to_project project %>
     </span>
     <% if !project.is_public? %>
       <span class="private"><%= l(:field_is_private) %></span>
     <% end %>
     <span class='managers'>
     <%
	u = project.users_by_role
	if ! u.empty? %>
     (<%=
	   mgmt_roles = u.keys.select{ |r| r.allowed_to?(:edit_project) }
	   managers = mgmt_roles.map{ |r| u[r] }.flatten.sort.uniq
	   managers.map{ |m| m.name }.join(', ')
	 %>)<%
	end
	%>
	</span>

     <%= render_project_short_description project %>
   </li>

    <% end %>
  </ul>
<% end %>
